<nz-collapse>
  <nz-collapse-panel nzHeader="Model" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-model-list
      (rowSelected)="onRowSelected($event)"
      (rowDoubleClicked)="onRowDoubleClicked($event)"
      (bottomScroll)="onBottomScrolled()"
      [models]="models$ | async">
    </app-model-list>
  </nz-collapse-panel>
</nz-collapse>

