<nz-collapse>
  <nz-collapse-panel nzHeader="Model Year" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-model-year-form></app-model-year-form>
  </nz-collapse-panel>
</nz-collapse>
