<nz-collapse>
  <nz-collapse-panel nzHeader="Container" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-container-list
      (rowSelected)="onRowSelected($event)"
      (rowDoubleClicked)="onRowDoubleClicked($event)"
      (bottomScroll)="onBottomScrolled()"
      [containers]="containers$ | async">
    </app-container-list>
  </nz-collapse-panel>
</nz-collapse>
