<ng-template #header>
  <div class="header">
    Model Year
    <span class="spacer"></span>
    <nz-switch [ngModel]="editFlag"
               (ngModelChange)="onEditModeChange($event)"
               [nzCheckedChildren]="checkedTemplate"
               [nzUnCheckedChildren]="unCheckedTemplate">
    </nz-switch>
    <ng-template #checkedTemplate>Edit On</ng-template>
    <ng-template #unCheckedTemplate>Edit Off</ng-template>
  </div>
</ng-template>
<nz-collapse>
  <nz-collapse-panel [nzHeader]="header" [nzShowArrow]="false" [nzDisabled]="true" [nzActive]="true">
    <app-model-year-form></app-model-year-form>
  </nz-collapse-panel>
</nz-collapse>
