<nz-collapse>
  <nz-collapse-panel nzHeader="Chassis" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-chassis-list
      (rowSelected)="onRowSelected($event)"
      (rowDoubleClicked)="onRowDoubleClicked($event)"
      (bottomScroll)="onBottomScrolled()"
      [chasseez]="chasseez$ | async">
    </app-chassis-list>
  </nz-collapse-panel>
</nz-collapse>
