<nz-collapse>
  <nz-collapse-panel nzHeader="Container" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-container-form></app-container-form>
  </nz-collapse-panel>
</nz-collapse>
