<nz-collapse>
  <nz-collapse-panel nzHeader="Tractor" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-tractor-list
      (rowSelected)="onRowSelected($event)"
      (rowDoubleClicked)="onRowDoubleClicked($event)"
      (bottomScroll)="onBottomScrolled()"
      [tractors]="tractors$ | async">
    </app-tractor-list>
  </nz-collapse-panel>
</nz-collapse>
