<nz-collapse>
  <nz-collapse-panel nzHeader="Model Year" [nzDisabled]="true" [nzActive]="true" [nzShowArrow]="false">
    <app-model-year-list
      (rowSelected)="onRowSelected($event)"
      (rowDoubleClicked)="onRowDoubleClicked($event)"
      (bottomScroll)="onBottomScrolled()"
      [modelYears]="modelYears$ | async">
    </app-model-year-list>
  </nz-collapse-panel>
</nz-collapse>
